@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
  display: grid;
  grid-template: min-content auto / 1fr 4fr;
  grid-template-areas:
    'aside header'
    'aside main';
}

.header {
  grid-area: header;
}

header > .searchbar {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-auto-flow: column;
  padding: 16px;
  align-items: center;
  gap: 16px;
}

label[for='searchbox']::before {
  content: url(../img/icon_search.svg);
  height: 24px;
  width: 24px;
}

input[type='search'] {
  align-self: center;
  border: none;
  outline: none;
  border-radius: 16px;
  background-color: rgba(239, 239, 239, 255);
  padding: 8px;
  font-size: 1.2rem;
}

.searchbar span.notification::before {
  content: url(../img/icon_notification.svg);
  height: 48px;
  width: 48px;
  margin-left: 48px;
}

span.avatar::before {
  content: '';
  background-image: url(../img/avatar_cat.svg);
  background-size: 100% 100%;
  display: inline-block;
  margin: 0px 16px;
  height: 48px;
  width: 48px;
}

.searchbar span.username {
  font-size: 1.3rem;
  font-weight: 700;
}

sidebar {
  grid-area: aside;
  background-color: #e63946;
  color: white;
}

main {
  grid-area: main;
  background-color: lightgrey;
}
